# build dir
build/
build_*/
build-*/

# symbol link to file in build/
compile_commands.json
utwwjson

# tmp files
*.bak
backup-*
*.log
*.tmp

# agent files
AGENTS.md
CLAUDE.md
CODEBUDDY.md
.codebuddy
.tool
.claude
.iflow
IFLOW.md
last_log.md

# ide helper fiels
.clangd
.vscode

# compile out
*.exe
*.s
